<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Preparación de comidas y recetas</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Lobster&display=swap">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/application.css">
</head>
<body>
<h1>Bienvenido a mi portafolio</h1>
<br><br>
<p>Aquí encontrarás algunos proyectos que he realizado durante mi paricipación en el curso Ruby on Rails para Startups</p>
<%= image_tag("portafolio.jpg.jpg", alt: "folios") %>

</body>
