<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Preparación de comidas y recetas</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Lobster&display=swap">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/application.css">
</head>
<body>
<div class="contenedor">
  <h1>Contáctame</h1>
    <%= image_tag("telefono1.png", alt: "telefono") %>
  <p>Puedes encontrarme en las siguientes redes sociales:</p>
  <div class="social-media">
    <a href="mi_portafolio\app\assets\images\face.png" target="_blank">
      <%= image_tag("face1.png", alt: "Facebook") %>
    </a>
    <a href="mi_portafolio\app\assets\images\icons8-twitter-48.png" target="_blank">
      <%= image_tag("icons8-twitter-48.png", alt: "Twitter") %>
    </a>
    <a href="mi_portafolio\app\assets\images\icons8-instagram-48.png" target="_blank">
      <%= image_tag("icons8-instagram-48.png", alt: "Instagram") %>
    </a>
   </div>
</div>
</body>


